<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit your question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico"/>
</head>
<body>

<!--responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--logo-->
    <a class="navbar-brand" href="home">Apprentice Forum</a>
    <!--hamburger menu-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--links-->
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="forum" id="forumdropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Forum
                </a>
                <div class="dropdown-menu" aria-labelledby="forumdropdown">
                    <a class="dropdown-item" href="forum">Overview</a>
                    <a class="dropdown-item" href="ask-question">Ask new question</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="edit-user" id="myaccountdropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="myaccountdropdown">
                    <a class="dropdown-item" href="edit-user">Edit</a>
                    <a class="dropdown-item" href="register">Register</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#myModal" href="">Logout</a>
                </div>

                <!--modal for logout confirmation-->
                <div class="modal" id="myModal" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Logout</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to logout?</p>
                            </div>
                            <div class="modal-footer">
                                <form th:action="@{/logout}" method="post">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--content (form for editing a answer)-->
<section id="card" class="py-2">
    <div class="container aos-init aos-animate" data-aos="fade-right">
        <div class="row my-3">
            <div class="col">
                <center>
                    <div class="card bg-secondary mb-1" style="max-width: 40rem;">
                        <div class="card-body">
                            <h4 class="card-title">Change your Password</h4>

                            <form th:action="@{/edit-user/change-password}" th:object="${registerUser}" method="post">
                                <fieldset>
                                    <!--error messages from validation annotations-->
                                    <div th:if="${#fields.hasErrors('password')}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                    </div>

                                    <!--display custom message sent from the controller-->
                                    <div th:if="${message != null}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p style="color: #831C24;" th:text="${message}"></p>
                                    </div>

                                    <!--form input to edit the password-->
                                    <div>
                                        <div class="form-group">
                                            <label class="col-form-label" for="inputOldPassword">Old Password</label>
                                            <input type="password" class="form-control" placeholder="Old Password" id="inputOldPassword" th:field="*{oldpassword}" required>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label" for="inputNewPassword">New Password</label>
                                            <input type="password" class="form-control" placeholder="New Password" id="inputNewPassword" th:field="*{password}" required>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label" for="inputConfirmNewPassword">Confirm new Password</label>
                                            <input type="password" class="form-control" placeholder="Confirm new Password" id="inputConfirmNewPassword" th:field="*{confirmpassword}" required>
                                        </div>
                                    </div>

                                    <!--submit the data and password is changed-->
                                    <center>
                                        <a type="button" href="/edit-user" class="btn btn-warning">Cancel</a>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </center>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>