<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forum - Overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico"/>

    <!--custom stylsheet-->
    <link rel="stylesheet" href="/css/mystyles.css">
</head>
<body>

<!--responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--logo-->
    <a class="navbar-brand" href="#">Apprentice Forum</a>
    <!--hamburger menu-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--links-->
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="forum" id="forumdropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Forum
                </a>
                <div class="dropdown-menu" aria-labelledby="forumdropdown">
                    <a class="dropdown-item" href="forum">Overview</a>
                    <a class="dropdown-item" href="ask-question">Ask new question</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="myaccountdropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="myaccountdropdown">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="register">Register</a>
                    <a class="dropdown-item" href="logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--Overview of the forum-->
<section class="py-5">
    <div class="container aos-init aos-animate" data-aos="fade-right">
        <h2>Welcome to Forum Overview</h2>
        <br>
        <div class="row">
            <div class="col-3">

                <!--list of my opened discussions-->
                <div class="card bg-secondary mb-3 my-custom-shadow-box" style="max-width: 30rem;">
                    <div class="card-header">My Questions</div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-6">
                <h4>Latest discussion</h4>

                <!--list of latest discussion-->
                <div class="card bg-secondary mb-5 my-custom-shadow-box" style="max-width: 50rem;">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-3">
                <!--actions area-->
                <div class="card bg-secondary mb-3 my-custom-shadow-box" style="max-width: 30rem;">
                    <div class="card-header">Actions</div>
                    <div class="card-body">
                        <a type="button" class="btn btn-outline-primary btn-sm">Ask new question</a>
                    </div>
                </div>


                <!--list of discussions with my answers in it-->
                <div class="card bg-secondary mb-3 my-custom-shadow-box" style="max-width: 30rem;">
                    <div class="card-header">My answered Discussions</div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>