<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login to the Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico"/>
</head>
<body>
<section id="card" class="py-2">
    <div class="container aos-init aos-animate" data-aos="fade-right">
        <div class="row my-3">
            <div class="col">
                <center>
                    <div class="card bg-secondary mb-1" style="max-width: 30rem;">
                        <div class="card-body">
                            <h4 class="card-title">Login</h4>

                            <form th:action="@{/login}" method="post">
                                <fieldset>
                                    <!--display message when user clicked the logout button-->
                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You've been logged out
                                    </div>

                                    <!--display custom message of type error sent from the controller-->
                                    <div th:if="${errormsg != null}" class="alert alert-danger" th:text="*{errormsg}"></div>

                                    <!--display custom message of type success sent from the controller-->
                                    <div th:if="${sucessmsg != null}" class="alert alert-success" th:text="*{sucessmsg}"></div>


                                    <!--log in using email and password-->
                                    <div>
                                        <div class="form-group">
                                            <label for="inputEmail">Email address</label>
                                            <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputPassword">Password</label>
                                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
                                        </div>
                                    </div>

                                    <!--submit the data or if you don't have an account yet, log in.-->
                                    <center>
                                        <a href="/resetpassword/email">I forgot my password</a>
                                        <br><br>
                                        <button type="submit" class="btn btn-primary">Login</button>
                                        <hr>
                                        <label>No Account yet?</label>
                                        <br>
                                        <a href="/register" class="btn btn-success" type="submit">Register</a>
                                    </center>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>