<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico"/>
</head>
<body>
<h1>Hello, world!</h1>

<div class="row my-5">
    <div class="col">
        <div class="card bg-secondary mb-3" style="max-width: 20rem;">
            <!--<div class="card-header">Header</div>-->
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>