<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verify - Reset password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico"/>
</head>
<body>
<section id="card" class="py-2">
    <div class="container aos-init aos-animate" data-aos="fade-right">
        <div class="row my-3">
            <div class="col">
                <center>
                    <div class="card bg-secondary mb-1" style="max-width: 30rem;">
                        <div class="card-body">
                            <h4 class="card-title">Verifying it's you</h4>

                            <form th:action="@{/reset-password/search-account}" th:object="${verificationHelper}" method="post">
                                <fieldset>
                                    <p class="card-text">For security purposes,
                                        we just need to verify your email in order for you to reset your password. Please enter your email here.</p>

                                    <!--error messages from validation annotations-->
                                    <div th:if="${#fields.hasErrors('email')}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                    </div>

                                    <!--display custom message sent from the controller-->
                                    <div th:if="${message != null}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p style="color: #831C24;" th:text="${message}"></p>
                                    </div>

                                    <!--one input to enter the verification code-->
                                    <div>
                                        <div class="form-group">
                                            <label class="col-form-label" for="inputEmail">Email</label>
                                            <input type="text" class="form-control" placeholder="Cognizant Email" id="inputEmail" th:field="*{email}" required>
                                        </div>
                                    </div>
                                    <!--submit the code-->
                                    <center>
                                        <button type="submit" class="btn btn-success">verify</button>
                                    </center>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>