<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View discussion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico"/>

    <!--custom stylsheet-->
    <link rel="stylesheet" href="/css/mystyles.css">
</head>
<body>

<!--responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!--logo-->
    <a class="navbar-brand" href="#">Apprentice Forum</a>
    <!--hamburger menu-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--links-->
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="forum" id="forumdropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Forum
                </a>
                <div class="dropdown-menu" aria-labelledby="forumdropdown">
                    <a class="dropdown-item" href="forum">Overview</a>
                    <a class="dropdown-item" href="ask-question">Ask new question</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="myaccountdropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="myaccountdropdown">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="register">Register</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#myModal" href="">Logout</a>
                </div>

                <!--modal for logout confirmation-->
                <div class="modal" id="myModal" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Logout</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to logout?</p>
                            </div>
                            <div class="modal-footer">
                                <form th:action="@{/logout}" method="post">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!--content view discussion with question and answers-->
<section id="card" class="py-5">
    <div class="container aos-init aos-animate" data-aos="fade-right">
        <!--question-->
        <h2>Question:</h2>
        <div class="card bg-secondary mb-5 my-custom-shadow-box">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <div class="votesection">
                            <a th:href="@{/view-question/upvote-post?id={id}(id=${questionOfDiscussion.post_id})}"><span style="color: grey;font-size: 1.5em;">&#9650;</span></a>
                            <span th:text="${questionOfDiscussion.upvoted_from_users.size()} - ${questionOfDiscussion.downvoted_from_users.size()}" style="text-align:center;"></span>
                            <a th:href="@{/view_question/downvote-post?id={id}(id=${questionOfDiscussion.post_id})}"><span style="color: grey;font-size: 1.5em;">&#9660;</span></a>
                        </div>
                    </div>
                    <div class="col-9">
                        <h4 class="card-title" th:text="${questionOfDiscussion.title}"></h4>
                        <p class="card-text" th:text="${questionOfDiscussion.content}"></p>
                    </div>
                    <div class="col-2" th:if="${loggedInUser.equals(questionOfDiscussion.posted_from_user)}">
                        <a th:href="@{/edit-question?id={id}(id=${questionOfDiscussion.post_id})}" class="btn btn-warning btn-sm" style="margin:5px 5px 5px 0px;">Edit</a>
                        <a th:href="@{/delete-question?id={id}(id=${questionOfDiscussion.post_id})}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr>
        <br>

        <!--answers-->
        <h3>Answers:</h3>
        <div th:each="answer: ${listOfAnswers}">
            <div class="card bg-secondary mb-5 my-custom-shadow-box">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1">
                            <div class="votesection">
                                <a th:href="@{/view-discussion/upvote-post?id={id}(id=${answer.post_id})}"><span style="color: grey;font-size: 1.5em;">&#9650;</span></a>
                                <span th:text="${answer.upvoted_from_users.size()} - ${answer.downvoted_from_users.size()}" style="text-align:center;"></span>
                                <a th:href="@{/view_discussion/downvote-post?id={id}(id=${answer.post_id})}"><span style="color: grey;font-size: 1.5em;">&#9660;</span></a>
                            </div>
                        </div>
                        <div class="col-9">
                            <p class="card-text" th:text="${answer.content}"></p>
                        </div>
                        <div class="col-2" th:if="${loggedInUser.equals(answer.posted_from_user)}">
                            <a th:href="@{/edit-answer?id={id}(id=${answer.post_id})}" class="btn btn-warning btn-sm" style="margin:5px 5px 5px 0px;">Edit</a>
                            <a th:href="@{/delete-answer?id={id}(id=${answer.post_id})}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--form for answering a question (comment)-->
<!--content (form for editing a answer)-->
<section class="py-2">
    <div class="container aos-init aos-animate" data-aos="fade-right">
        <div class="row my-3">
            <div class="col">
                <center>
                    <div class="card bg-secondary mb-1">
                        <div class="card-body">
                            <h4 class="card-title">Participate to the discussion and leave a comment or an answer</h4>

                            <form th:action="@{/answer-question}" th:object="${answer}" method="post">
                                <fieldset>
                                    <!--error messages from validation annotations-->
                                    <div th:if="${#fields.hasErrors()}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                                    </div>

                                    <!--display custom message sent from the controller-->
                                    <div th:if="${message != null}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p style="color: #831C24;" th:text="${message}"></p>
                                    </div>

                                    <!--form input to enter in personal data like firstname, lasname, email, new password etc.-->
                                    <div>
                                        <div class="form-group">
                                            <label class="col-form-label" for="inputContent">Content</label>
                                            <textarea rows="7" class="form-control" placeholder="Describe your issue/matter" id="inputContent" th:field="*{content}" required></textarea>
                                        </div>
                                    </div>

                                    <!--submit the data and open up discussion-->
                                    <center>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </center>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>